/*** Configurações globais ***/
* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a, :visited, :hover, :active {
  text-decoration: inherit;
  color: inherit;
}

body {
  background-color: #f0f0f0;
  height: 100%;
}

.container {
  padding: 0 15px;
  margin:  0 auto;
  width: 100%;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/*** MENU SUPERIOR ***/
#upMenu {
  height: 70px;
  width: 100%;
  background-color: #580042;
  padding: 10px 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

#upMenu .container {
  display: flex;
  justify-content: space-between;
}

#upMenu .container img {
  height: 30px;
}

#upMenu .container ul {
  display: flex;
  color: #FFFFFF;
}

#upMenu .container ul li {
  padding: 0 10px;
  cursor: pointer;
}

#upMenu .container ul li:hover {
  text-decoration: underline 3px solid;
  text-decoration-color: #4E9231;
  opacity: 0.8;
}

#upMenu .container ul li:active {
  text-decoration: underline wavy;
  text-decoration-color: #1E6600;
}

/*** Barra de search***/
#search {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  width: 100%;
  height: 60px;
}

#search .container {
  display: flex;
  align-items: center;  
}

#search .container .search {
  margin: 0 10px;
  border-radius: 10px;
  width: 40%;
  padding: 2px 6px;
  border-color: #580042;
}

#search .container button {
  height: 35px;
  width: 35px;
  border: none;
  background-color: #580042;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
}

#search .container button svg {
  width: 60%;
  height: 60%;
  fill:#FFFFFF;
}

#search .container button:hover {
  border-color: #580042;
  background-color: #FFFFFF;
}

#search .container button:hover svg {
  fill: #580042;
}

/*** Highlight Section***/
.highlight {
  height: 300px;
  display: flex;
  margin-top: 20px;
}

.highlight .highlightImage {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  position: relative;
}

.highlight .highlightImage img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: inherit;
}

.highlight .highlightImage .recipeTitle {
  background-color: #580042;
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #FFFFFF;
  height: 50px;
  width: 250px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
}

.highlight aside {
  width: 400px;
  box-sizing: border-box;
  margin-left: 50px;
  padding: 20px;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 14px 1px rgba(0,0,0,0.3);
}

.highlight aside header {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #580042;
  margin-bottom: 20px;
}
.highlight aside p {
  margin-bottom: 10px;
}

/*** Recipes Section ***/
.recipesHeader {
  text-align: center;
  margin: 20px 0;
  background-color: #580042;
  color: #FFFFFF;
  padding: 10px 0;
}

.recipesHeader h1 {
  font-size: 20px;
}

.recipesHeader h2 {
  font-size: 14px;
  font-weight: 400;
}

.recipesBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.recipesBody .recipeCard {
  height: 200px;
  width: 350px;
  border-radius: 10px;
  background-color: #FFFFFF;
  display: flex;
  margin-bottom: 20px;
  box-shadow: 5px 5px 14px 1px rgba(0,0,0,0.3);
}

.recipesBody .recipeCard .recipeImage {
  width: 145px;
  height: 200px;
  border-radius: inherit;
  overflow: hidden;
}

.recipesBody .recipeCard .recipeImage img {
  object-fit: cover;
  height: inherit;
  width: inherit;
}

.recipeCard .recipeFavorite {
  height: 20px;
  width: 20px;
  background-color: #580042;
  border-radius: 50%;
  position: absolute;
  border: 1px solid transparent;
  margin: 8px;
  cursor: pointer;
} 

.recipeCard .recipeFavorite svg {
  fill: #FFFFFF;
  height: 60%;
  width: 70%;
}

.recipeCard .recipeFavorite:hover {
  border-color: #580042;
  background-color: #FFFFFF;
}

.recipeCard .recipeFavorite:hover svg {
  fill: #580042;
}

.recipesBody .recipeCard .recipeInfo {
  display: flex;
  width: 205px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 12px;
  box-sizing: border-box;
}

.recipeInfo .recipeType {
  font-size: 12px;
  color:#4E9231;
}

.recipeInfo h3 {
  font-size: 16px;
  font-weight: 700;
  max-width: 90%;
  max-height: 35px;
  line-height: 18px;
  text-overflow: ellipsis;
  text-transform: uppercase;
  overflow: hidden;
  margin: 10px;
}

.recipeInfo .recipeAuthor {
  display: inline;
  font-size: 13px;
}

.recipeInfo .recipeAuthor span {
  color: #580042;
  font-weight: 700;
}

.recipeInfo .recipeFavorites {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  color: #4E9231;
  font-size: 13px;
}

.recipeInfo .recipeFavorites svg {
  height: 18px;
  width: 18px;
  fill: #CC2448;
  margin-right: 6px;
}

.recipeInfo .recipeLink {
  background-color: #580042;
  color: #FFFFFF;
  height: 16px;
  width: 100%;
  border-radius: 30px;
  text-align: center;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid transparent;
  letter-spacing: 0.5px;
}

.recipeInfo .recipeLink:hover {
  border-color: #580042;
  background-color: #FFFFFF;
  color: #580042;
}

/*** FOOTER ***/
footer {
  background-color: #580042;
  min-height: 200px;
  width: 100%;
}

.footer {
  display: flex;
  padding-top: 25px;
  justify-content: space-between;
  color: #FFFFFF;
  font-size: 14px;
  margin-top: 20px;
}

.footer  h3 {
  font-size: 21px;
  margin-bottom: 15px;
}

.footer ul li:hover {
  text-decoration: underline 3px solid;
  text-decoration-color: #4E9231;
  opacity: 0.8;
}

.footer ul li:active {
  text-decoration: underline wavy;
  text-decoration-color: #1E6600;
}

.infoSocialMedia {
  display: flex;
  flex-direction: column;
}

.infoSocialMedia span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0 15px;
}

.infoSocialMedia span a:hover {
  transform: scale(1.1);
  transition: ease all 0.3s;
}

.infoSocialMedia img {
  height: 30px;
}

.creativecommons {
  color: #FFFFFF;
  font-size: 11px;
  text-align: center;
  padding: 15px 0 25px;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: end;
}
