/* Configurações globais */

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f0f0f0;
}

a, :visited, :hover, :active {
  text-decoration: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

.container {
  /*width: 1140px;*/
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  height: 100%;
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}


/* Estilos do menu superior */
.upMenu {
  width: 100%;
  height: 70px;
  background-color: #580042;
  padding: 10px 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.upMenu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upMenu .container .upMenuImage {
  height: 30px;
}

.upMenu .container ul {
  display: flex;
  color: #FFFFFF;
  list-style: none;
}

.upMenu .container ul li {
  padding: 0 10px;
}

.upMenu .container ul li:hover {
  text-decoration: underline 3px solid;
  text-decoration-color: #4E9231;
  opacity: 0.8;
}

/* Search bar */
.searchBar {
  background-color: #FFFFFF;
  width: 100%;
  height: 60px;
}

.searchBar .container {
  display: flex;
  align-items: center;
}

.searchBar .container input {
  margin: 0 10px;
  border-radius: 10px;
  padding: 2px 6px;
  width: 40%;
}

.searchBar .container button {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #580042;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
}
.searchBar .container button svg {
  width: 60%;
  height: 60%;
  fill:#FFFFFF;
}

.searchBar .container button:hover {
  border-color: #580042;
  background-color: #FFFFFF;
}

.searchBar .container button:hover svg {
  fill: #580042;
}

/* highlight */
.highlight {
  display: flex;
  height: 300px;
  margin-top: 20px;
}
.highlight .highlightRecipe {
  width: 100%;
  position: relative;
}

.highlight .highlightRecipe img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.highlight .highlightRecipe span {
  background-color: #580042;
  height: 50px;
  width: 250px;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  color: #FFFFFF;
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: center;
}

.highlight aside {
  width: 400px;
  background-color: #FFFFFF;
  margin-left: 50px;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 5px 5px 14px 1px rgba(0,0,0,0.3);
  border-radius: 10px;
}

.highlight aside header {
  font-size: 20px;
  color: #580042;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
}

.highlight aside p {
  margin-bottom: 10px;
}

/* Seção de Receitas */ 
.classeDoVictor {
  background-color: #580042;
  margin: 20px 0;
  color:#FFFFFF;
  font-weight: 700;
  padding: 10px;
  text-align: center;
}

.classeDoVictor h1 {
  font-size: 20px;
  font-weight: 700;
}

.classeDoVictor h2 {
  font-size: 14px;
  font-weight: normal;
}

.recipesContainer {
  display: flex;
  justify-content: space-between;
}

.recipes .container .card {
  height: 200px;
  width: 350px;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 14px 1px rgba(0,0,0,0.3);
  border-radius: 10px;
  display: flex;
  margin-bottom: 20px;
}

.recipes .container .card .cardImage {
  width: 145px;
  height: 100%;
  border-radius: inherit;
}

.recipes .container .card .cardImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.recipes .container .card .cardImage button {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #580042;
  margin: 8px;
  cursor: pointer;
  border: 1px solid transparent;
}

.recipes .container .card .cardImage button svg {
  fill: #FFFFFF;
  height: 60%;
  width: 70%;
}

.recipes .container .card .cardImage button:hover {
  border-color: #580042;
  background-color: #FFFFFF;
}

.recipes .container .card .cardImage button:hover svg {
  fill: #580042;
}

.recipes .container .card .cardInfo {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipes .container .card .cardInfo .recipeType {
  color: #4E9231;
  font-size: 12px;
}

.recipes .container .card .cardInfo h3 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px;
  text-align: center;
}

.recipes .container .card .cardInfo .recipeAuthor {
  font-size: 13px;
}

.recipes .container .card .cardInfo .recipeAuthor span {
  color: #580042;
  font-weight: 700;
}

.recipes .container .card .cardInfo .cardFavorite {
  display: flex;
  margin: 10px;
  color: #4E9231;
  font-size: 13px;
}

.recipes .container .card .cardInfo .cardFavorite svg {
  height: 18px;
  width: 18px;
  fill: #CC2448;
  margin-right: 6px;
}

.recipes .container .card .cardInfo .recipeButton {
  background-color: #580042;
  color: #FFFFFF;
  border-radius: 30px;
  width: 100%;
  height: 20px;
  font-size: 10px;
  text-align: center;
  line-height: 20px;
  letter-spacing: 0.5px;
  border: 2px solid transparent;
}
.recipes .container .card .cardInfo .recipeButton:hover {
  border-color: #580042;
  background-color: #FFFFFF;
  color: #580042;
}

/* Rodapé */

footer {
  background-color: #580042;
  min-height: 200px;
  width: 100%;
  color: #FFFFFF;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  margin-top: 20px;
}

.footer .infoCollumn h3 {
  font-size: 21px;
  margin-bottom: 15px;
}

.footer .infoCollumn ul {
  list-style: none;
}

.footer .infoCollumn ul li:hover {
  text-decoration: underline 3px solid;
  text-decoration-color: #4E9231;
  opacity: 0.8;
}

.footer .infoSocialMedia {
  display: flex;
  flex-direction: column;
}
.footer .infoSocialMedia h3 {
  margin-bottom: 15px;
}
.footer .infoSocialMedia span {
  display: flex;
  justify-content: space-between;
  margin: 5px 0 15px;
}

.footer .infoSocialMedia span a:hover {
  transform: scale(1.1);
  transition: ease all 0.3s;
}

.footer .infoSocialMedia img {
  height: 30px;
}

